body {
    font-family: Arial;
}

h1 {
    font-size: 36px;
}

h2 {
    font-size: 26px;
}

span {
    color: gray;
}

img {
    height: 150px;
    width: 150px;    
}

p {

}

li {

}